<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="{{menu.route}}" *ngFor="let menu of menus">
      <ion-icon aria-hidden="true" name="{{menu.icon}}"></ion-icon>
      <ion-label>{{menu.nom}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="tabs/tab2" >
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

