<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Documents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
    <ion-segment value="default" [(ngModel)]="currentPage">
      <ion-segment-button value="liste">
        <ion-label>Liste</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ajout">
        <ion-label>Ajout</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="ajout" *ngIf="currentPage == 'ajout'">
      <!-- <form class="custom-form"> -->
      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select placeholder="Select Type" [(ngModel)]="document.type">
          <ion-select-option [value]="type" *ngFor="let type of typesDocuments">{{type}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" type="number">Montant</ion-label>
        <ion-input placeholder="saisir le montant de la facture" [(ngModel)]="document.montantTotal"></ion-input>
      </ion-item>


      <ion-item *ngIf="document.type === 'facture'">
        <ion-label position="floating" type="number">Reference</ion-label>
        <ion-input placeholder="saisir la référence de la facture" [(ngModel)]="document.numeroFacture"></ion-input>
      </ion-item>

      <ion-item *ngIf="document.type === 'facture'">
        <ion-select placeholder="choisir le fournisseur" [(ngModel)]="document.fournisseur">
          <ion-label position="floating" type="number">Fournisseur</ion-label>
          <ion-select-option [value]="fournisseur"
            *ngFor="let fournisseur of fournisseurs">{{fournisseur.libelle}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="document.type !== 'facture'">
        <ion-select placeholder="choisir la facture" [(ngModel)]="factureAPayer">
          <ion-label position="floating" type="number">Facture</ion-label>
          <ion-select-option [value]="facture"
            *ngFor="let facture of factures">{{facture.numeroFacture}} {{facture.etat}}</ion-select-option>
        </ion-select>
        <img *ngIf="factureAPayer" [src]="urlFichiers+factureAPayer.fileName">
      </ion-item>

      <ion-item>
        <!-- <ion-label position="floating">Joindre le document</ion-label> -->
        <input (input)="onFileSelected($event)" type="file" class="ion-input" >
      </ion-item> 
      

      <ion-button expand="block" (click)="handleAddDocument()" type="submit"
        class="submit-button">Soumettre</ion-button>
      <!-- </form> -->
    </div>

    <div class="liste" *ngIf="currentPage == 'liste' ">
      <ion-row>
        <ion-card class="contenu">
          <ion-list>
            <ion-item color="light">
              <ion-col>Etat</ion-col>
              <ion-col>Image</ion-col>
              <ion-col>Montant</ion-col>
            </ion-item>
            <ion-item *ngFor="let element of liste">
              <ion-col>{{element.etat}}</ion-col>
              <ion-col>{{element.image}}</ion-col>
              <ion-col>{{element.montantTotal}}</ion-col>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-row>
    </div>
  </ion-content>
</ion-content>