<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">authentification</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input name="nom" [(ngModel)]="utilisateur.email" required></ion-input>
      </ion-item>
  
      <!-- <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input name="prenom" [(ngModel)]="utilisateur.prenom" required></ion-input>
      </ion-item> -->
  
      <!-- <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" [(ngModel)]="utilisateur.email" type="email" required></ion-input>
      </ion-item> -->
  
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input name="motDePasse" [(ngModel)]="utilisateur.password" type="password" required></ion-input>
      </ion-item>
  
    
  
      <ion-button expand="full" (click)="handleLogin()">Se connecter</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
