.card-col{
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 10px;
}
.ctnt{
    margin-bottom: 60px;
}
.colc{
    padding:10px;
    margin-top: 7px;
}
.contenu{
    border: 1px solid;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}



ion-label{
    color: bisque;
    font-size: 14xpx;
}
  

.enCours {
margin: auto;
color: #cecece; /* Orange */
font-size: 24px;
}

.impayees {
margin: auto;
color: #db3434; /* Bleu */
font-size: 24px;
}

.chip-number{
    width: 80%;
}

  
/* styles.scss */

.custom-input {
    --highlight-color-focused: #007bff; /* Couleur de mise en surbrillance lorsqu'il est focus */
    --border-color: #ccc; /* Couleur de la bordure */
    --border-radius: 10px; /* Rayon de la bordure */
    --placeholder-color: #999; /* Couleur du texte de l'indicateur de lieu */
  
    ion-input {
      border-color: var(--border-color);
      border-radius: var(--border-radius);
      --highlight-color-focused: var(--highlight-color-focused);
      --placeholder-color: var(--placeholder-color);
    }
  }
  
  .custom-card {
    width: 100%;
    background-color: #3b2a1a; /* Fond sombre */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Espacement entre les cartes */
    color: #ffffff; /* Texte blanc */
  }
  
  .custom-card ion-card-header {
    background-color: #3a3e49; /* Couleur d'en-tête légèrement plus claire */
  }
  
  .custom-card ion-card-content {
    padding: 10px;
  }
  
  .amount {
    color: #f08030; /* Couleur du montant en vert clair */
    font-size:16px;
    font-weight:bold;
  }
  
  .custom-card ion-row.action-buttons ion-button {
    color: #5e6578; /* Couleur du texte des boutons */
  }
  
  
  
  